.headerDiv {
    padding: 5px;
    box-shadow: 2px 2px 2px black;
}

.headerDiv h1 {
    color: white;
    font-size: 6vw;
    margin: 0;
}

.headerDiv h3 {
    color: white;
    font-size: 2vw;
    font-weight: 100;
    margin: 0;
}